.mask{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.233);
    z-index: 99;
}
.cart{
    color: rgb(100, 100, 100);
    position: absolute;
    margin: 0 auto;
    padding: 0 20px;
    background-color: white;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 4px;
    width: 500px;
    animation: fade-in 0.2s;
    z-index: 100;

    @keyframes fade-in {
        0%{
            opacity: 0;
            transform: translateY(-3rem) /* translateX(3rem) */;
        }
        100%{
            opacity: 1;
        }
    }

    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #EAEAEA;

        .fa-times{
            cursor: pointer;
        }
    }
    &-item{
        display: flex;
        border-bottom: 1px solid #EAEAEA;
    }
    &-left{
        img{
            width: 126px;
            height: 126px;
            object-fit: contain;
        }
    }
    &-price{
        font-weight: bold;
    }
    &-total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            font-size: 18px;
            padding: 4px 16px;
            margin: 10px 0;
            color: white;
            background-color: #333;
            outline: none;
            border: none;
            border-radius: 16px;
            cursor: pointer;
            &:hover{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            &:active{
            transform: translateY(2px);
            }
        }
    }
}