.search{
    display: block;
    
    &-container{
        position: relative;
        display: inline;
    }
    input{
        
        padding: 8px 16px;
        border-radius: 20px;
        border:1px solid rgb(99, 99, 99);
        outline: none;
    }
    .fa-times{
        position:absolute;
        right: 8px;
        line-height: 33px;
        cursor: pointer;
    }
}
@media screen and (max-width: 1024px) {
    .search{
        display: flex;
        justify-content: center;
    }
}